/* 2DMatrix.css */
svg {
    background-color: #f9f9f9;
    margin: 20px;
    border: 1px solid #333;
  }
  
  rect {
    stroke: #ccc;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1em;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  