# Node modules
node_modules/

# Vite build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.*

# Editor settings
.vscode/
.idea/
.DS_Store

# Optional: OS-specific
Thumbs.db
.env/
.env.production
.env.test
