<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
</head>
<body>
    <h1>Leaderboard</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Total Score</th>
            </tr>
        </thead>
        <tbody>
            {% for user_data in leaderboard_data %}
                <tr>
                    <td>{{ forloop.counter }}</td> <!-- Rank -->
                    <td>{{ user_data.user__username }}</td> <!-- Username -->
                    <td>{{ user_data.total_score }}</td> <!-- Total Score -->
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No data available</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
